.loginBox textarea {
    width: 100%;
    margin-bottom: 20px;
    resize: vertical;
    size:1500px;
  }
  .loginBox textarea[type="text"],
  .loginBox textarea[type="password"] {
    border: none;
    border-bottom: 2px solid #262626;
    outline: none;
    height: 40px;
    color: #fff;
    background: transparent;
    font-size: 16px;
    padding-left: 20px;
    box-sizing: border-box;
  }
  .loginBox textarea[type="text"]:hover,
  .loginBox textarea[type="password"]:hover {
    color: #42f3fa;
    border: 1px solid #42f3fa;
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.3), 0 0 10px rgba(0, 255, 0, 0.2),
      0 0 15px rgba(0, 255, 0, 0.1), 0 2px 0 black;
  }
  .loginBox textarea[type="text"]:focus,
  .loginBox textarea[type="password"]:focus {
    border-bottom: 2px solid #42f3fa;
  }